.app {
    height: 100vh;
    overflow-y: scroll;
}

.app-content {
    padding: 20px 14px 14px 14px;
    max-width: 900px;
    margin: 0 auto;
}

@media all and (min-width: 768px) {
    
    .app-content {
        padding: 50px 40px 30px 40px;
    }
    
}