.input-radio {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    cursor: pointer;
}

.input-radio-option {
    font-size: 0.9em;
    opacity: 0.5;
    margin: 0 2px 0 2px;
    background: #fff;
    padding: 5px 8px 5px 8px;
    border: var(--border-default);
    border-radius: var(--border-radius-small);
}

.input-radio-option-selected {
    box-shadow: 0 0 4px rgba(0,0,0,0.15);
    opacity: 1;
}