.task-list {
    margin: 20px auto 14px auto;
    position: relative;
    padding: 14px;
    width: calc(100% - 28px);
    /*border-radius: var(--border-radius-small);*/
    background-color: var(--color-white);
    text-align: center;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}

@media all and (min-width: 768px) {
    .task-list {
        padding: 30px;
        width: calc(100% - 60px);
    }
}