.task {
    padding: 9px 0 9px 0;
    /*flex-wrap: nowrap;*/
    display: flex;
    flex-flow: row wrap;
    text-align: left;
    border-bottom: 1px dashed #DDD;
}
.task:hover {
    border-bottom: 1px solid #DDD;
}

.task > div {
    
}

.task-priority {
    margin-left: 14px;
    min-width: 62px;
    padding: 2px 4px 2px 4px;
    border-radius: var(--border-radius-small);
    text-transform: uppercase;
    text-align: center;
    font-size: 0.8em;
    font-weight: 700;
    color: #fff;
}

.task-text {
    padding: 0 14px 0 14px;
    flex: 1;
}

.task-deadline {
    font-size: 0.9em;
    padding: 0 0 0 14px;
}

.task-complete .task-priority,
.task-complete .task-deadline,
.task-complete .task-text {
    opacity: 0.3;
    text-decoration: line-through;
}

.task-overdue:not(.task-complete) .task-deadline {
    color: var(--color-red);
}

.task svg {
    cursor: pointer;
    color: var(--color-blue);
    font-size: 1.3em;
    margin-left: 4px;
}
.task svg:hover {
    color: var(--color-yellow);
}

.task-priority-3 {
    background-color: var(--color-red);
}

.task-priority-2 {
    background-color: var(--color-yellow);
}

.task-priority-1 {
    background-color: var(--color-green);
}