form {
    margin: 0 auto 20px auto;
    text-align: center;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

form > div:nth-of-type(1) {
    flex: 1;
}

.input-label {
    padding: 0 0 6px 12px;
    text-align: left;
    font-weight: 700;
    font-size: 0.8em;
    text-transform: uppercase;
    color: #fff;
}

form > div:nth-of-type(3) .input-label {
    padding-left: 0;
    text-align: center;
}

input, 
select {
    -moz-appearance: none;
    text-shadow: var(--text-shadow-default);
    font-family: inherit;
    color: #fff;
    border: none;
    padding: 12px;
    background-color: rgba(0,0,0,0.1);
    border-bottom: 2px solid var(--color-pink);
}
input:focus,
select:focus {
    outline: none;
    border-bottom: 2px solid var(--color-yellow);
}

select {
    cursor: pointer;
    padding: 11px 12px 11px 12px;
}
select::-ms-expand {
    display: none;
}
select option {
    background-color: #fff;
    color: #444;
}

.input-task-button {
    margin: 22px 0 0 14px;
    border: none;
    background-color: rgba(255,255,255,0.2);
    width: 100px;
    height: 45px;
    color: #FFF;
    font-size: 0.8em;
    font-weight: 700;
    font-family: inherit;
    text-transform: uppercase;
    cursor: pointer;
    border-bottom: 2px solid var(--color-pink);
}
.input-task-button:hover {
    border-bottom: 2px solid var(--color-yellow);
}

.input-task-text {
    width: calc(100% - 24px);
}

.react-datepicker-wrapper input {
    text-align: center;
    width: 80px;
}

.react-datepicker-wrapper input::placeholder,
.input-task-text::placeholder {
    color: #fff;
}