.task-filters {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 12px;
    border-bottom: var(--border-default);
    margin-bottom: 14px;
}