.task {
    padding: 14px 0 12px 0;
    /*flex-wrap: nowrap;*/
    justify-content: space-between;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    text-align: left;
    border-bottom: 1px solid #DDD;
}

.task-complete .task-priority,
.task-complete .task-deadline,
.task-complete .task-text {
    opacity: 0.3;
    text-decoration: line-through;
}

.task-overdue:not(.task-complete) .task-deadline {
    color: var(--color-red);
}

.task-priority {
    margin-left: 8px;
    min-width: 60px;
    padding: 2px 4px 2px 4px;
    border-radius: var(--border-radius-small);
    text-transform: uppercase;
    text-align: center;
    font-size: 0.7em;
    font-weight: 700;
    color: #fff;
}

.task-priority-3 {
    background-color: var(--color-red);
}

.task-priority-2 {
    background-color: var(--color-yellow);
}

.task-priority-1 {
    background-color: var(--color-green);
}

.task-deadline {
    white-space: nowrap;
    font-size: 0.9em;
    padding: 0 6px 0 8px;
}

.task-text {
    font-size: 0.9em;
    align-self: flex-end;
    order: 5;
    flex: 0 0 100%;
    padding: 8px 0 0 4px;
}

.task svg {
    cursor: pointer;
    color: var(--color-blue);
    font-size: 1.3em;
    margin-left: 4px;
}
.task svg:hover {
    color: var(--color-yellow);
}

.task-alter-icons {
    display: flex;
    flex-flow: row nowrap;
}

@media all and (min-width: 481px) {
    
    .task {
        flex-flow: row nowrap;
        padding: 10px 0 10px 0;
        border-bottom: 1px dashed #DDD;
    }
    .task:hover {
        border-bottom: 1px solid #DDD;
    }
    
    .task-complete-icons,
    .task-priority,
    .task-deadline,
    .task-text,
    .task-alter-icons {
        order: unset;
    }
    
    .task-priority {
        margin-left: 14px;
        font-size: 0.8em;
    }
    
    .task-deadline {
        padding: 0 0 0 14px;
    }
    
    .task-text {
        font-size: 1em;
        padding: 0 14px 0 14px;
        flex: auto;
        align-self: auto;
    }
    
}