.task {
    padding: 8px 0 8px 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    border-bottom: 1px dashed #DDD;
}
.task:hover {
    border-bottom: 1px solid #DDD;
}

.task-priority {
    margin-left: 14px;
    width: 64px;
    padding: 2px 4px 2px 4px;
    border-radius: 3px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0 0 5px rgba(0,0,0,0.3);
    font-size: 0.9em;
    font-weight: 700;
    color: #fff;
}

.task-text {
    padding: 0 14px 0 14px;
    flex: 1;
    /*align-self: flex-start;*/
}

.task-deadline {
    font-size: 0.9em;
    padding: 0 0 0 14px;
}

.task-complete .task-priority,
.task-complete .task-deadline,
.task-complete .task-text {
    opacity: 0.3;
    text-decoration: line-through;
}

.task-overdue:not(.task-complete) .task-deadline {
    color: red;
}

.task-icons {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.task-icons svg {
    cursor: pointer;
    color: cadetblue;
    font-size: 1.2em;
    margin-left: 4px;
}
.task-icons svg:hover {
    color: orange;
}

.task-priority-3 {
    background-color: #cc3300;
}

.task-priority-2 {
    background-color: #ff9900;
}

.task-priority-1 {
    background-color: #39ac73;
}