.task-list {
    margin: 20px auto 14px auto;
    position: relative;
    padding: 14px;
    width: calc(100% - 28px);
    max-width: 280px;
    border-radius: var(--border-radius-small);
    background-color: var(--color-white);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}

.task-count {
    font-size: 0.8em;
    margin: 0 0 12px 2px;
}

.task-list > a {
    font-size: 0.8em;
    display: block;
    margin-top: 14px;
}

@media all and (min-width: 481px) {
    
    .task-list {
        max-width: none;
        padding: 30px 30px 20px 30px;
        width: calc(100% - 60px);
    }
    
    .task-list:before,
    .task-list:after {
        position: absolute;
        width: 40%;
        height: 10px;
        content: ' ';
        left: 12px;
        bottom: 12px;
        background: transparent;
        transform: skew(-5deg) rotate(-5deg);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
        z-index: -1;
    } 

    .task-list:after {
        left: auto;
        right: 12px;
        transform: skew(5deg) rotate(5deg);
    }    
    
}