body {
    background: linear-gradient(4deg,#e56673,#671940);
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.task-list {
    padding-top: 40px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
