/* Variables */

:root {
    --color-green: #39ac73;
    --color-yellow: #ff9900;
    --color-red: #cc3300;
    --color-blue: #5F9EA0;
    --color-pink: #e56673;
    --color-purple: #671940;
    --color-dark-gray: #444;
    --color-white: #f2f2f2;
    --border-radius-small: 3px;
    --border-default: 1px solid #ccc;
}

/* Scrollbars */

html, body, div {
    scrollbar-width: thin;
    scrollbar-color: #bbb #999;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar,
div::-webkit-scrollbar {
	width: 10px;}
html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track,
div::-webkit-scrollbar-track {
    background: #bbb;
	width: 10px;}
html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb {
    background: #888;
	width: 10px;}

/* Other */

body {
    color: var(--color-dark-gray);
    background: linear-gradient(4deg, var(--color-pink), var(--color-purple));
    margin: 0;
    font-family: -apple-system, "Droid Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}